@use '@angular/material' as mat;
@include mat.core();

@import './app-colors.scss';

$app-primary: mat.define-palette($app-brand-primary);
$app-accent: mat.define-palette($app-brand-accent);
$app-warn: mat.define-palette($app-brand-warn);

$app-brand-theme: mat.define-light-theme((
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
   ));

@include mat.all-component-themes($app-brand-theme);