.container-fluid {
    padding: 0;
}

#refresh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie {
    position: relative;
    margin: 0;
    padding: 0;
}

.poster {
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 2;
}

.poster:hover {
    opacity: 0.1;
    transition: opacity 0.5s ease-in-out;
}

.detailes {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    z-index: 1;
}

.title {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
   font-size: 5vw;
   margin-bottom: 0;
}

.year {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 0;
 }

 .genre {
    text-align: center;
    font-size: 2vw;
    font-style: italic;
    margin-bottom: 2vw;
 }

 .actor {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5vw;
    margin-bottom: 0;
 }

.mat-mdc-paginator {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
    background-color: var(--app-primary);
    border-radius: 1.5em;
    color: var(--app-accent);
} 

.mat-mdc-paginator:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} 

.mat-mdc-paginator-navigation {
    display: flex;
}

::ng-deep .mat-mdc-paginator-navigation-fist {
    order: 1;
}

::ng-deep .mat-mdc-paginator-navigation-previous {
    order: 2;
}

::ng-deep .mat-mdc-paginator-range-label {
    order: 3;
}

::ng-deep .mat-mdc-paginator-navigation-next {
    order: 4;
}

::ng-deep .mat-mdc-paginator-navigation-last {
    order: 5;
}

::ng-deep path { 
    fill: var(--app-accent); 
}


