<div class="container-fluid transparent">

    <mat-grid-list class="movie-grid" cols="3" rowHeight="3:4">
        <mat-grid-tile *ngFor="let movie of movies">
            <mat-card class="movie container">
                <div class="detailes">
                    <p class="title">{{movie.title}}</p>
                    <p class="year">{{movie.year}}</p>
                    <p class="genre">{{movie.genres | map:'name' | join:', ' }}</p>
                </div>
                <img class="poster" src="https://m.media-amazon.com/images/M/{{movie.posterId}}._V1_SX300.jpg">
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator
        fixed
        *ngIf="pagination"
        hidePageSize="true"
        showFirstLastButtons
        [length]="pagination.totalCount"
        [pageSize]="pageSize"
        (page)="pageChanged($event)">
    </mat-paginator>
    
</div>
