
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --main-bg-color: #DAD7DB;
    --primary-text-color: #3F51B5;
    --secondary-text-color: #777D8C;
}

html {
    background-color: var(--main-bg-color);
}

.container-fluid {
    background-color: var(--main-bg-color);
}




