:root {
    --black: #000000;
    --white: #ffffff;
    --app-primary: #000000;
    --app-light-primary: #262626;
    --app-accent: #FFC107;
    --app-warn: #D32F2F;
}

html {
    background-color: var(--app-light-primary);
}

.container-fluid {
    background-color: var(--app-light-primary);
}

.toast-container>div{
    box-shadow: none !important;
}




